*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 'poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b873e6;
    background: linear-gradient(90deg, rgba(184, 115, 230, 1) 0%, rgba(153, 238, 240, 1) 70%, rgba(41, 211, 227, 1) 100%);
}
.calculator{
    border: 4px solid rgb(255, 255, 255);
    padding: 20px;
    border-radius: 50px;
    background-color: #afc5f8;
    box-shadow: 2px 20px 25px rgba(0, 0, 0, 0.3);
}
input{
    width: 330px;
    padding: 20px;
    margin: 8px;
    background-color: transparent;
    box-shadow: 0px 2px 15px #f1f3f7;
    text-align: right;
    font-size: 30px;
    cursor: pointer;
}
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0px 10px 19px #3761c5; 
    cursor: pointer;
    
}
ul{
    list-style-type: none;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
   padding: 20px;
}